<!DOCTYPE html>
<html>
<head>
  <title>Moviestore</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>

    <%= render "layouts/header"%>

    <%= render "layouts/alerts" %>

    <div id="main-content" class="row full-min-height">
      <%= yield %>
    </div>

    <footer class="row">
      <div class="large-12 columns">
        <hr>
        <p>© MovieStore 2014</p>
      </div>
    </footer>

    <%= javascript_include_tag "application" %>
    
  </body>
</html>
